*{
    font-family: "inter ";
    margin: 0px;
    
}
.menusuperior{
    background: #303030;
    width: 1440px;
    height: 475px;
}
#T{
   color: #FFF;
   font-feature-settings: 'liga' off;
   font-size: 60px;
   font-weight: 600;
   line-height: 72px;
   letter-spacing: -1.5px;
   padding-top: 150px;
   padding-left: 50px;
}

#sub{
    color: #FFF;
    font-feature-settings: 'liga' off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */
   padding-left: 50px;
}
.containerInfor{
    background-color: #F9F9F9;
    width:1440px;
    height: 229px;
    display: grid;
    grid-auto-flow: column;
}
#text1 {
    padding: 100px 70px 700px 150px;
    font-size: 40px;
    font-weight: 600;
    line-height: 28px; 
    
}
#text2{
    padding: 100px 70px 700px 90px;
    font-size: 40px;
    font-weight: 600;
    line-height: 28px; 

}
#text3{
    padding: 100px 250px 700px 150px;
    font-size: 40px;
    font-weight: 600;
    line-height: 28px; 
}
.textp{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}


    

.container{
    height: 610px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 10px 54px 50px;
    

  
}
#img{
    width: 510px;
    height: 605px;
    
  
}

    
#Texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 730px;
}
    
   
#titulosuperior{
    font-size: 40px;
    font-weight: 500;
    line-height: 20px;
}
#Informativo{
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
}
#formulario{
    text-align: center;
    background-color: #303030;
    height: 638px;
    
}
#titulo-formulario{
    color: #FFF;
    padding: 87px;
    text-align: center;
}
input{
    width: 508px;
    height: 72px;
    background-color:#FFFFFF;
    margin: 15px;
    border: 0px;
    border-radius: 10px;
    padding-left: 10px;

}
button{
    width: 286px;
    height: 74px;
    border-radius: 10px;
    background-color: #C07212;
    cursor: pointer;
    border: none;
 
    
}
button:hover{
    background-color:#9ccce0 ;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #2e4058;
    transition-duration: 0.5s;
}
#placeholder-text::placeholder{
    color: rgba(0, 0, 0, 0.30);
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    padding-left: 10px;
}
#faleconosco{
    color: #FFF;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px; 
}

  


    



  
        

   
    


    
    

    